.container {
    background-color: #f3f3f3;
}

.cart-wrap {
    padding: 50px 0 46px 0;
}

.cart-body-left {
    background-color: white;
}

.cart-body-left__heading {
    padding: 14px 24px 14px 39px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.5);
    font-size: 1.5rem;
    font-weight: 600;
}

.cart-body-left__content {
    padding: 24px 28px 24px 30px;
    border-bottom: 1px solid #e1e3e8;
}

.delete-item {
    font-size: 2rem;
    color: var(--black-color);
    display: block;
    text-align: right;
    position: relative;
    top: 4px;
}

.product-link {
    font-size: 2rem;
    color: var(--black-color);
    text-decoration: none;
}

.product-link__img {
    width: 100%;
}

.product-link__title {
    font-weight: normal;
    margin: 0 0 12px 0;
    line-height: 2.4rem;
    font-size: 1.8rem;
}

.product-classify__title {
    display: block;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.product-price {
    font-size: 1.8rem;
    margin-top: 8px;
    display: block;
}

.quantity-wrapper {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.quantity-minus {
    width: 38px;
    height: 38px;
    border: 1px solid var(--black-color);
    background-color: white;
}

.quantity {
    border: none;
    text-align: center;
    width: 64px;
    height: 38px;
    outline: none;
}

.quantity-plus {
    width: 38px;
    height: 38px;
    border: 1px solid var(--black-color);
    background-color: white;
}

.quantity-minus:hover,
.quantity-plus:hover {
    background-color: #adafc6;
    color: white;
    cursor: pointer;
}

.line-item-total {
    font-size: 1.8rem;
    display: block;
    margin-top: 8px;
}

.cart-body-left__footer {
    padding: 24px 28px 24px 30px;
}

.continue-shopping {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--black-color);
    font-weight: bold;
    text-decoration: none;
}

.cart-body-right {
    padding: 32px 24px 24px;
    background-color: white;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    line-height: 3.6rem;
}

.total-label {
    font-size: 1.6rem;
}

.total-price {
    font-size: 2.4rem;
    color: #c54934;
}

.cart-btn-link {
    display: block;
    margin-top: 32px;
}

.cart-btn {
    font-size: 2.2rem;
    padding: 20px;
    background-color: var(--black-color);
    width: 100%;
    border: 1px solid var(--black-color);
    color: white;
    cursor: pointer;
}

.order-item + .order-item {
    margin-top: 50px;
}

.cart-empty {
    padding: 20px;
    background-color: white;
}

.cart-empty__title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3rem;
    margin: 0;
}

.continue-buy__btn {
    background-color: var(--black-color);
    display: inline-block;
    line-height: 2.4rem;
    margin-top: 24px;
    padding: 20px;
    font-size: 2.2rem;
    color: white;
    border: 1px solid #ebebeb;
}

.continue-buy__btn:hover {
    filter: brightness(1.1);
}
