.main {
    margin-top: 50px;
}

.main-content {
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.payment-section-title {
    color: #333;
    font-weight: normal;
    font-size: 1.8rem;
    margin: 0 0 21px 0;
}

.login-link {
    color: var(--red-color);
}

.login-link:hover {
    filter: brightness(1.1);
}

.form-name__control {
    padding: 13px 39px 13px 11px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    width: 100%;
    outline: none;
    color: #333;
    margin-bottom: 12px;
}

.form-note__control {
    padding: 13px 39px 13px 11px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    width: 100%;
    outline: none;
    color: #333;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-email__control {
    padding: 13px 39px 13px 11px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    outline: none;
    width: 64%;
    color: #333;
}

.form-tel__control {
    padding: 13px 39px 13px 11px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    outline: none;
    width: 34%;
    color: #333;
}

.address-group {
    padding: 12px;
    background-color: #fafafa;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
}

.form-address__control {
    padding: 13px 39px 13px 11px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    width: 100%;
    outline: none;
    color: #333;
    margin-bottom: 12px;
}

.address-select {
    padding: 10px 0;
    border-radius: 5px;
    font-size: 1.4rem;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    color: #333;
    outline: none;
    width: 30%;
}

.step-footer {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-footer-previous-link {
    color: var(--red-color);
    font-size: 1.4rem;
}

.step-footer-previous-link:hover {
    filter: brightness(1.1);
}

.step-footer-continue-btn {
    border-radius: 4px;
    font-weight: 500;
    padding: 19px 23px;
    cursor: pointer;
    background-color: var(--red-color);
    color: white;
    border: none;
    font-size: 1.4rem;
}

.step-footer-continue-btn:hover {
    filter: brightness(1.1);
}

.methods {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    margin-bottom: 12px;
}

.methods-check {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    cursor: pointer;
}

.methods-content {
    display: flex;
    align-items: center;
}

.methods-content__img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.methods-content__title {
    color: #737373;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.methods-content__title-img {
    height: 22px;
    margin-left: 10px;
}

.sidebar {
    padding: 56px 32px;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.product-order {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.product-order__thumbnail {
    position: relative;
    display: inline-block;
}

.product-order__img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.product-order__quantity {
    position: absolute;
    padding: 2px 7px;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    background-color: rgba(153, 153, 153, 0.9);
    top: -10px;
    right: -10px;
}

.product-order__dsc {
    padding-left: 14px;
    display: flex;
    flex-direction: column;
}

.product-order__dsc-name {
    font-size: 1.4rem;
    display: inline-block;
    line-height: 1.8rem;
    color: #4b4b4b;
}

.product-order__dsc-type {
    font-size: 1.2rem;
    color: #969696;
    line-height: 1.8rem;
}

.product-order__price {
    font-size: 1.4rem;
    color: #4b4b4b;
    padding-left: 14px;
    margin-left: auto;
}

.discount-code {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.discount-code__input {
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    box-shadow: 0 0 1px #d9d9d9;
    outline-color: var(--red-color);
    color: #333;
    font-size: 1.6rem;
    padding: 12px 39px 12px 11px;
    width: 70%;
}

.discount-code__input:focus + .discount-code__btn {
    background-color: var(--red-color);
}

.discount-code__btn {
    border-radius: 4px;
    font-weight: 500;
    background-color: #c8c8c8;
    color: white;
    padding: 12px 23px;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

.discount-code__btn:hover {
    filter: brightness(1.1);
}

.payment-details {
    margin-top: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.provisional {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.provisional-title,
.transport-fee__title {
    font-size: 1.4rem;
    color: #717171;
}

.provisional-price,
.transport-fee__price {
    font-size: 1.4rem;
    color: #4b4b4b;
}

.transport-fee {
    display: flex;
    justify-content: space-between;
}

.total-payment {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-payment__title {
    font-size: 1.6rem;
    color: #4b4b4b;
}

.total-payment__price {
    display: flex;
    align-items: center;
}

.total-payment__price-unit {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 10px;
    color: #969696;
}

.total-payment__price-main {
    font-size: 2.4rem;
    color: #4b4b4b;
}

.transfer-information {
    display: none;
}

.transfer-information.transfer-information--active {
    display: block;
}

.transfer-information__title {
    font-size: 1.8rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: #333;
}

.transfer-information__img {
    width: 100%;
}

.customer-info {
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.customer-info__icon {
    font-size: 3rem;
    color: #969696;
    padding: 0 15px 0 10px;
}

.customer-info__body-title {
    margin: 0;
    color: #737373;
    font-size: 1.4rem;
}

.customer-info__body-logout {
    color: #338dbc;
    font-size: 1.4rem;
    margin-top: 5px;
    display: inline-block;
}

.form-message {
    color: #f4516c;
    font-size: 1.4rem;
    padding-top: 6px;
}

.errors {
    border-radius: 3px;
    padding: 6px 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: left;
    color: #d02e2e;
    background-color: #fff6f6;
    border-color: #d02e2e;
}

.errors ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}
